<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Globcare</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Globcare</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>NSCalendarsUsageDescription</key>
	<string> $(PRODUCT_NAME) MyApp needs access to Calender  to set birthdate when user register </string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) MyApp needs access to your camera for meetings and to upload capture to doctor when user booking an appointment if he or she need.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs access to location when in the background to enable update user location when he or she want to change another location for complete booking process because our team go to user location to implement medical service.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to location when open  to select user location that he or she want our team go to  that location to introduce medical service for him.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) MyApp needs access to your microphone for meetings  and to enable user  to record  a voice note to explain for doctor what problem that he oe she suffers.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>  $(PRODUCT_NAME) MyApp needs access to your library to enable user to upload to doctor any files or lab tests or prescription or diagnoses that can help doctor to give him correct treatment  </string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>FirebaseMessagingAutoInitEnabled</key>
    	<NO/>
    	<key>FirebaseAppDelegateProxyEnabled</key>
    	<NO/>
</dict>
</plist>